.resources {
    margin-top: 100px;
}

.resources_logo-zone {
    margin: 0 auto;
    margin-top: 80px;
    padding-bottom: 217px;
    width: 1100px;
}

.resources_logo {
    width: 270px;
    height: 38px;
}
