.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  position: relative;
  overflow: hidden;
}

.logo {
  width: 183px;
}

.logo_place_header {
  height: 32px;
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  width: 730px;
  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-left: 64px;
  z-index: 2;
}

.header__subtitle {
  margin: 0;
  padding: 0;
  width: 388px;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  position: absolute;
  left: 64px;
  bottom: 30px;
  z-index: 2;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.header__square-pic {
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
}

.header__square-pic-rotation {
  animation: rotation 20s infinite;
}

