@import url(../cards/cards.css);
@import url(../cards/__description/cards__description.css);
@import url(../cards/__image/cards__image.css);
@import url(../cards/__item/cards__item.css);
@import url(../cards/__title/cards__title.css);

.techniques {
  width: 80%;
  margin: 0 auto;
  margin-top: 100px;
}
