@import url(./__triangle/kaufman__triangle.css);
@import url(../rotation/rotation.css);
@import url(./__triangle-rotation/kaufman__triangle-rotation.css);

.kaufman {
    background-color: #1f1f1f;
    color: #ffffff;
    padding-top: 90px;
    padding-bottom: 90px;
    position: relative;
    overflow: hidden;
    z-index: 0;
  }
  
  
  
  
  
  