.footer__column-link {
    font-size: 18px;
    line-height: 30px;
    font-weight: normal;
    text-decoration: none;
    color: #ffffff;
  }
  
  .footer__column-link:hover {
    opacity: 0.5;
    transition: 0.5s;
  }