.page {
  min-width: 1100px;
  max-width: 1600px;
  font-family: "Helvetica Neue", "Arial", sans-serif;
  margin: 0 auto;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  position: relative;
}

.logo {
  width: 183px;
}

.logo_place_header {
  height: 32px;
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  width: 730px;
  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-left: 64px;
}

.header__subtitle {
  width: 388px;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  position: absolute;
  left: 64px;
  bottom: 30px;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.header__square-pic {
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
}

.description {
  display: flex;
  margin-top: 100px;
}

.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.two-columns__brief {
  margin: 0;
  width: 175px;
  color: #2f80ed;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
}

.two-columns__paragraph:nth-child(2){
  margin-top: 30px;
  margin-bottom: 30px;
}

.two-columns__span-accent {
  font-size: 24px;
  line-height: 34px;
  font-weight: bold;
}

.two-columns__margin {
  margin-top: 30px;
}

.digits {
  margin: 100px auto;
}

.section-title {
  width: 60%;
  text-align: center;
  margin: 0 auto;
  font-size: 60px;
  line-height: 1.15;
  font-weight: bold;
}

.section-subtitle {
  width: 60%;
  margin: 20px auto 0 auto;
  text-align: center;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
}

.table {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  list-style-type: none;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  font-size: 24px;
  line-height: 1.15;
  font-weight: bold;
}

.table__text {
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  margin-top: 20px;
}

.feynman {
  min-height: 890px;
  background-image: url(..//images/feynman.png);
  background-repeat: no-repeat;
  background-position: bottom left;

  position: relative;
  background-color: #f2f2f2;
}

.feynman__title {
  margin: 0 auto;
  padding-top: 100px;
  width: 648px;
  text-align: center;
  font-size: 120px;
  line-height: 1.15;
  font-weight: bold;
}

.feynman__subtitle {
  margin: 0 auto;
  margin-top: 70px;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  text-align: center;
}

.feynman__link {
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  color: #2f80ed;
  position: absolute;
  top: 50%;
  right: 48px;
}

.kaufman {
  background-color: #1f1f1f;
  color: #ffffff;
  padding-top: 90px;
  padding-bottom: 90px;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.section-title_theme_dark {
  width: 60%;
  font-size: 60px;
  line-height: 1.15;
  font-weight: bold;
  z-index: 1;
}

.section-subtitle_theme_dark {
  margin-top: 20px;
  width: 60%;
  z-index: 1;
}

.table__cell_theme_dark {
  margin-top: 80px;
  width: 200px;
  z-index: 1;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  width: 877px;
  height: 877px;
  position: absolute;
  right: -210px;
  top: 0;
  z-index: -1;
}

.footer {
  background-color: #1f1f1f;
  color: #ffffff;
  min-height: 350px;
  display: flex;
}

.footer__columns {
  margin: 0px auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo_place_footer {
  height: 35px;
}

.footer__author {
  padding-top: 18px;
  padding-bottom: 18px;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
}

.footer__column-heading {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.footer__column-links {
  list-style: none;
  margin-top: 20px;
  padding-bottom: 16px;
}

.footer__column-link {
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  text-decoration: none;
  color: #ffffff;
}

.footer__social-icons {
  padding-right: 10px;
  width: 16px;
  height: 16px;
}
